/*
* @Author: imooc
* @Date:   2017-09-21 08:49:52
* @Last Modified by:   imooc
* @Last Modified time: 2017-09-21 09:22:44
*/
.page-wrap{
	background: #fff;
	padding: 30px 0;
	margin-top : 20px;
	text-align: center;
}
.result-con {
	display: none;
}
.result-con .result-title{
	color: #555;
}
.result-con .result-content{
	margin-top: 20px;
}
.result-con .result-content .link{
	margin:0 5px;
	padding: 5px 10px;
	border: 1px solid #ccc;
}